.tab {
    -fx-background-color: #f9f9f9;
}
.root {
    -fx-background-color: linear-gradient(to right bottom, #3A77FF, #74E6DE );




}
.label {
    -fx-text-fill: white;}








/* Style the buttons inside the tab */
.button {
    -fx-background-color: transparent;
    /* -fx-padding: 14px 16px;*/
     -fx-font-size: 17px;
     -fx-text-fill: black; /* Se asume que quieres el texto en negro */
}

/* Change background color of buttons on hover */
.tab .button:hover {
    -fx-background-color: #ddd;
}

/* Create an active/current tablink class */


.button {
    -fx-background-color: #ffffff; /* Blanco para un look limpio */
    -fx-text-fill: #000000; /* Texto en negro para contraste */
    -fx-border-color: #dddddd; /* Borde sutil */
    -fx-border-width: 1px; /* Ancho del borde */
    /*-fx-padding: 10px 20px; /* Espaciado interno adecuado */
    -fx-cursor: hand; /* Cambia el cursor a una mano cuando se pasa por encima */
}

.button:hover {
    -fx-background-color: #f5f5f5; /* Cambio sutil al pasar el mouse */
}

/* Style the tab content */


#noHayAerolineasLabel {
    -fx-text-fill: black;


    -fx-font-size: 14px;
}


.table-view .column-header-background .label {
    -fx-background-color: #1e3d7b; /* Cambia este color al tono de azul oscuro que prefieras */
    -fx-text-fill: white; /* Cambia el color del texto a blanco para mejor contraste */
}

.list-view .button{
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
}
.choice-box.label {
    -fx-text-fill: black;
}
.choice-box .context-menu {
    -fx-background-color: linear-gradient(to right bottom, #3A77FF, #74E6DE );
}
.choice-box .context-menu.label {
    -fx-background-color: linear-gradient(to right bottom, #3A77FF, #74E6DE );
}