.tab {
    overflow: hidden;

    background-color: #f9f9f9;
}
.label {
    -fx-text-fill: white;
    -fx-font-weight:bold;
    -fx-font-family: 'Open Sans';
    -fx-font-size:14px ;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #e7e7e7;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}
#noHayAerolineasLabel {
    -fx-text-fill: black;
    -fx-font-weight:bold;
    -fx-font-family: 'Open Sans';
    -fx-font-size:14px ;
}
