.root {
    -fx-background-color: linear-gradient(to right bottom, #3A77FF, #74E6DE );
    -fx-text-fill: white;

}
.label {
    -fx-text-fill: white;
    -fx-font-weight:bold;
    -fx-font-family: 'Supr';
}
.text {
    -fx-text-fill: white;
    -fx-font-weight:bold;
    -fx-font-family: 'Arial';
}


#borderLogin {
    -fx-text-fill: white;
}
#anchorLogin {
    -fx-text-fill: white;
}