.text-field {
    -fx-background-color: rgba(255, 255, 255, 0); /* Translucent white background */
    -fx-border-color: white; /* Change 'blue' to the color you need */
    -fx-border-width: 2; /* Adjust the width as needed */
    -fx-border-radius: 15; /* Rounded corners for the border */
    -fx-background-radius: 15; /* Rounded corners for the background */
    -fx-padding: 5 10 5 10; /* Adjust padding for text inside the text field */
    -fx-prompt-text-fill: white
}

.text-field:focused {
    -fx-background-color: rgba(255, 255, 255, 0.7); /* More opaque when focused */

}
#ingresarButton {
    -fx-background-color: white; /* Translucent white background */
    -fx-border-color: white; /* Change 'blue' to the color you need */
    -fx-border-width: 2; /* Adjust the width as needed */
    -fx-border-radius: 15; /* Rounded corners for the border */
    -fx-background-radius: 15; /* Rounded corners for the background */
    -fx-padding: 5 10 5 10; /* Adjust padding for text inside the text field */
    -fx-text-fill:   #3A77FF;

}

#ingresarButton:hover {
    -fx-background-color: #006fdd; /* Slightly darker shade for hover effect */
}
.pane-class {
    -fx-background-radius: 30; /* This will create rounded corners with a radius of 30 */
    /*-fx-padding: 20;  Add padding if needed */
    /* You can add a border as well if desired */
    -fx-border-color: #ffffff; /* This sets the border color to white */
    -fx-border-width: 2; /* This sets the border width */
    -fx-border-radius: 30; /* This should match the background radius for a consistent look */
}
